<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Klevu\ProductIntegration\Api\UpdateProductDataManagementInterface" type="Klevu\ProductIntegration\Model\UpdateProductDataManagement"/>
</config>
